{% extends 'partials/_base.html'%}
{% load static %}

{% block content %}

<div class="all-title-box">
	<div class="container text-center">
		<h1>{{animal.name}}</span></h1>
	</div>
</div>

<!-- % url 'update_animal' animal.type.slug animal.id % -->


<div id="overviews" class="section wb">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 blog-post-single">
				<div class="blog-item">
					<div class="image-blog">
						<img src="{{animal.image.url}}" alt="" class="img-fluid">
					</div>
					<div class="post-content">
						<div class="post-date">
							{% if user.is_authenticated and request.user.id == animal.owner.id%}
							<button type="submit" class="btn btn-outline-success rounded-0" data-toggle="modal"
								data-target="#">
								<a href="{% url 'update_animal' animal.type.slug animal.id %}"><span>Update</span></a>
							</button>

							<button type="submit" class="btn btn-outline-danger rounded-0" data-toggle="modal"
								data-target="#">
								<a href="{% url 'delete_animal' animal.type.slug animal.id %}"><span>Delete</span></a>
							</button>
							{% endif %}

							{% if user.is_authenticated and request.user.id != animal.owner.id%}

							{% if animal in followed_animals %}
							<button type="submit" class="btn btn-outline-danger rounded-0" data-toggle="modal"
								data-target="#releaseModal">
								<span>Remove</span>
							</button>
							{%else%}
							<button type="submit" class="btn btn-outline-success rounded-0" data-toggle="modal"
								data-target="#enrollModal">
								<span>Follow</span>
							</button>
							{% endif %}
							{% endif %}
						</div>
						<div class="meta-info-blog">
							<span><i class="fa fa-calendar"></i> <h5>Oluşturulma Tarihi :{{animal.created|date:'d M Y'}}</a></h3></span>
							<span><i class="fa fa-comments"></i> <h5> Hayvan sahibi: {{animal.owner.username}}</h5> </span>
						</div>
						<div class="blog-title">
							<h2> {{animal.name}} Hakkında Bazı Bilgiler</h2>
						</div>
						<div class="blog-desc">
							<blockquote class="default">
								{{animal.description}}
							</blockquote>

						</div>
					</div>
				</div>

				<div class="blog-author">
					<div class="author-bio">
						<h3 class="author_name">
							<h3> <strong><a href="{% url 'user_detail' animal.owner.id %}"> Hayvan Sahibi: {{animal.owner.username}}</a> </strong></h3>
							<h5> Kullanıcı İsmi : {{animal.owner.username}}</h5> 
							<h5> Email : {{animal.owner.email}}</h5> 
							<h5> İsim : {{animal.owner.first_name}}</h5> 
							<h5> Soyisim : {{animal.owner.last_name}}</h5> 
						<p class="author_det">
						</p>
					</div>
				</div>


			</div><!-- end col -->
			<div class="col-lg-3 col-12 right-single">
				<div class="widget-search">
					<div class="site-search-area">
						<form method="get" id="site-searchform" action="#">
							<div>
								<input class="input-text form-control" name="search-k" id="search-k"
									placeholder="Hayvan İsmi, Tür, Cins." type="text">
								<input id="searchsubmit" value="Search" type="submit">
							</div>
						</form>
					</div>
				</div>
				<div class="widget-categories">
					<h3 class="widget-title">Types</h3>
					<ul>
						{% for type in types %}
						<li><a href="{% url 'animals_by_type' type.slug %}">{{type.name}}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="widget-tags">
					<h3 class="widget-title">Search Genus</h3>
					<ul class="tags">
						{% for genu in genus %}
						<li><a href="{% url 'animals_by_genus' genu.slug %}"> {% if genu.slug in request.path %}
								<b>{{genu.name}}</b>
								{% else %}{{genu.name}}{% endif %} </a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div><!-- end row -->
	</div><!-- end container -->
</div><!-- end section -->


<!-- ENROLL Modal -->
<div class="modal fade" id="enrollModal" tabindex="-1" role="dialog" aria-labelledby="enrollModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="enrollModalLabel">Follow the Animal</h2>
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>You will follow the animal {{obj}}:</p>
				<h1>{{course.name}}</h1>
			</div>
			<div class="modal-footer">
				<form action="{% url 'follow_animal' %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="user_id" value="{{user.id}}">
					<input type="hidden" name="animal_id" value="{{animal.id}}">
					<input type="submit" value="I AM SURE" class="btn btn-success">
				</form>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					CANCEL
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Reliase Modal -->
<div class="modal fade" id="releaseModal" tabindex="-1" role="dialog" aria-labelledby="releaseModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="releaseModalLabel">Remove The Animal</h2>
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>You will remove the animal {{obj}}:</p>
				<h1>{{course.name}}</h1>
			</div>
			<div class="modal-footer">
				<form action="{% url 'remove_animal' %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="user_id" value="{{user.id}}">
					<input type="hidden" name="animal_id" value="{{animal.id}}">
					<input type="submit" value="I AM SURE" class="btn btn-danger">
				</form>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					CANCEL
				</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}